.level {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 20px;
}

.info {
  color: var(--linkColor);
}

.debug {
  color: var(--helpTextColor);
}

.trace {
  color: var(--helpTextColor);
}

.warn {
  color: var(--warningColor);
}

.error {
  color: var(--dangerColor);
}

.fatal {
  color: var(--purple);
}

.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 45px;
}
