.progress {
  composes: container from '~Components/ProgressBar.css';

  border-radius: 0;
  background-color: var(--progressBarBackgroundColor);
  color: var(--white);
}

.progressBar {
  composes: progressBar from '~Components/ProgressBar.css';

  transition: width 200ms ease;
}
