.playlist {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  margin: 2px 4px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--cardBackgroundColor);
  cursor: default;
}

.info {
  padding: 0 4px;
}

.videos {
  padding: 0 4px;
  background-color: var(--defaultBackgroundColor);
  color: var(--defaultColor);
}

.allVideos {
  background-color: var(--alertSuccessBackgroundColor);
  color: var(--defaultColor);
}
