.header {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
}

.tips {
  font-size: 20px;
}

.scanBlurb {
  margin: 0 0 16px;
  font-size: $defaultFontSize;
  line-height: 1.45;
}

.tip {
  font-size: $defaultFontSize;
}

.code {
  font-size: 12px;
  font-family: $monoSpaceFontFamily;
}

.recentFolders {
  margin-top: 40px;
}

.startImport {
  margin-top: 40px;
  text-align: center;
}

.importButtonIcon {
  margin-right: 8px;
}

.addErrorAlert {
  composes: alert from '~Components/Alert.css';

  margin: 20px 0;
}
